---
layout: compress
---

<!doctype html>
<html lang="{{ page.lang | default: 'zh' }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}

<div class="footer_site">
<hr/>
<div class="footer_copyright">
  {% if page.lang == "en" %}
  © 2025 Harbin Engineering University · {{ site.author.name_en | default: site.author.name }} | Built on&nbsp
  {% else %}
  © 2025 哈工程 · {{ site.author.name }} | 基于&nbsp
  {% endif %}
  <a class="page_a"  href="https://github.com/RayeRen/acad-homepage.github.io">
  acad
  </a>{% if page.lang == "en" %}&nbsp;template{% else %}&nbsp模板{% endif %}
</div>
</div>
  </body>
</html>
